@import "../../../assets/variables/variables.scss";

.navbar {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: transparent;

    &__wrapper {
        margin-left: 50%;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        color: $white;
        font-size: 16px;
        font-weight: bold;
        padding-right: 24px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}


